	<!-- Main Page wrapper -->
  <div class="wrapper">

    <app-main-menu></app-main-menu>

    <!--<app-left-sidebar></app-left-sidebar>-->

    <!--<app-right-sidebar></app-right-sidebar>-->

    <!--<app-right-sidebar></app-right-sidebar>-->

    <!-- Main wrapper -->
    
    <router-outlet></router-outlet>
    

    
    <!-- Footer -->
    <!--<div class="row no-margin">
      <div class="col-md-12">
        <div class="footer">
          <div class="pull-left padding-sm margin-t-xs">
            &copy; Copyright
          </div>
          <div class="pull-right padding-sm"><img src="./assets/images/logo-heading.png" alt="Ranpariya - The Development Lab (RTDL)"></div>
        </div>
      </div>
    </div>-->

    <!-- Scroll top -->
    <!--<div>
      <a href="javascript:void(0);" class="scrollToTop" title="Scroll to Top"><span></span></a>
    </div>-->
  </div>